<!doctype html>

<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title >Склад</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-indigo.min.css" />
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <div class="android-header mdl-layout__header mdl-layout__header--waterfall  mdl-color-text--grey-750" id="t" style="background-color:rgba(255,255,255,1)">
        <div class="mdl-layout__header-row">

            <a href="/home">
                <img th:src="@{'http://regi-storage.herokuapp.com/files/storage.jpg'}" width="110" height="70" class="mdl-typography--text-center mdl-grid--no-spacing"/>
            </a>

            <div class="mdl-layout-spacer"></div>
            <div th:if="${group}">
                <h2 th:text="${group}"/>
            </div>
            <div class="mdl-layout-spacer"></div>
            <label class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--indigo-A200 mdl-color--white" type="submit" for="search">
                <i class="material-icons">search</i>
            </label>
            <form th:action="@{/search/general}" method="post" class="form-horizontal">
                <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield mdl-color-text--grey-700" >
                    <input class="mdl-textfield__input mdl-color--white" type="text" th:placeholder="${group}" id="search" name="search">
                    <input type="hidden"    class="mdl-textfield__input mdl-color--white"  id="gr" th:value="${group}" th:placeholder="${group}" name="gr"></input>
                </div>
            </form>
            <div class="mdl-layout-spacer"></div>
            <form method="get" action="/add">
                <button type="submit" class="mdl-button mdl-typography--text-lowercase mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--indigo-A200 mdl-color-text--white" style="width: 120px; height: 40px;;">Добавить</button>

            </form>
            <div class="mdl-layout-spacer "></div>
            <nav class="mdl-navigation mdl-color-text--brown-800">
                <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
                <script>
                    var dialog = document.querySelector('dialog');
                    var showModalButton = document.querySelector('.show-modal');
                    if (! dialog.showModal) {
                        dialogPolyfill.registerDialog(dialog);
                    }
                    showModalButton.addEventListener('click', function() {
                        dialog.showModal();
                    });
                    dialog.querySelector('.close').addEventListener('click', function() {
                        dialog.close();
                    });
                </script>
            </nav>
            <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
                <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
                <li class="mdl-menu__item"> <a href="/delete"> <span class="searchTagLink  mdl-color-text--grey-500">Удалить группу</span></a></li>
                <li class="mdl-menu__item">     <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form></li>
            </ul>
        </div>
    </div>

    <div class="android-drawer mdl-layout__drawer demo-page--shadow">
        <span class="mdl-layout-title mdl-color-text--blue-A200 mdl-typography--font-bold">
          Группы
            <br>
             <a href="/allItems"> <span class="searchTagLink mdl-color-text--grey-700">Все</span></a>
        </span>
        <nav class="mdl-navigation "  th:each ="group : ${groups}">
            <a  class="mdl-navigation__link mdl-color-text--grey-600" th:href="@{'/search/byGroup/' + ${group.name}}" th:utext="${group.name}"></a>
        </nav>
        </nav>
    </div>
    <div class="android-content mdl-layout__content mdl-color-text--teal-500">
        <div class="mdl-grid demo-content">
            <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--12-col">

                    <div class="mdl-layout__tab-panel is-active">
                        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
                            <header class="mdl-typography--text-center section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">

                                <div th:if="${message}">
                                    <h2 th:text="${message}"/>
                                </div>
                            </header>
                            <div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
                                <div class="mdl-card__supporting-text mdl-typography--text-center ">
                                    <form autocomplete="off" enctype="multipart/form-data" action="#" th:action="@{/save}"
                                          th:object="${itemForm}" method="post" class="form-horizontal"
                                          role="form">
                                        <div class="mdl-card__supporting-text">
                                            <input type="text" class="mdl-textfield__input"у placeholder="код" />
                                        </div>
                                        <div class="mdl-card__supporting-text">
                                            <input type="text" class="mdl-textfield__input" th:field="*{name}" placeholder="наименование" />
                                        </div>
                                        <div class="mdl-card__supporting-text">
                                            <input type="text" class="mdl-textfield__input" th:field="*{groupp}" placeholder="группа" />
                                        </div>
                                        <div class="mdl-card__supporting-text">
                                            <input type="text" class="mdl-textfield__input" th:field="*{count}" placeholder="количество"/>
                                        </div>
                                        <div class="mdl-card__supporting-text">
                                        <input type="text" class="mdl-textfield__input" th:field="*{description}" placeholder="описание"/>
                                    </div>

                                        <div class="mdl-card__supporting-text">
                                            <h4>Загрузить фото:</h4>
                                            <input type="file" name="file" />
                                        </div>

                                        <div class="mdl-dialog__actions ">
                                            <button type="submit" class="mdl-button  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-typography--text-center  mdl-button--colored mdl-color--cyan-500 mdl-color-text--white">Добавить</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </section>
                    </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>





