<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->

<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title >Storage</title>

    <!-- Page styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.min.css">

  </head>
  <body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

      <div class="android-header mdl-layout__header mdl-layout__header--waterfall  mdl-color--amber-400 mdl-color-text--grey-750" id="t">
        <div class="mdl-layout__header-row">

          <a href="/allItems"> <span class="mdl-layout__title" id="ttt">STORAGE</span></a>
          <div class="mdl-layout-spacer"></div>
            <div th:if="${message2}">
                <h2 th:text="${message2}"/>
            </div>
            <div class="mdl-layout-spacer"></div>
          <label class="mdl-button mdl-js-button mdl-button--icon mdl-color-text--indigo-A200 mdl-color--white" type="submit" for="search">
            <i class="material-icons">search</i>
          </label>

          <form th:action="@{/search/general}" method="post" class="form-horizontal">
            <div class="mdl-textfield mdl-textfield--full-width mdl-js-textfield mdl-color-text--teal-500" >
              <input class="mdl-textfield__input mdl-color--white" type="text" id="search" name="search">
                <input type="hidden"    class="mdl-textfield__input mdl-color--white"  id="gr" th:value="${message2}" th:placeholder="${message2}" name="gr"></input>

            </div>
          </form>

          <!-- Add spacer, to align navigation to the right in desktop -->
          <div class="android-header-spacer mdl-layout-spacer"></div>

          <!-- Navigation -->
          <nav class="mdl-navigation mdl-color-text--brown-800">

<!--            <button type="button" class="mdl-button show-modal mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;colored mdl-color&#45;&#45;teal-400 mdl-color-text&#45;&#45;white">Add item</button>-->
            <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
            <dialog class="mdl-dialog">
              <div class="mdl-dialog__content mdl-color-text--blue-800" >

                <form autocomplete="off" enctype="multipart/form-data" action="#" th:action="@{/save}"
                      th:object="${item}" method="post" class="form-horizontal"
                      role="form">
                  <div class="mdl-card__supporting-text">
                    <input type="text" class="mdl-textfield__input" th:field="*{code}" placeholder="code" />
                  </div>
                  <div class="mdl-card__supporting-text">
                    <input type="text" class="mdl-textfield__input" th:field="*{name}" placeholder="name" />
                  </div>
                  <div class="mdl-card__supporting-text">
                    <input type="text" class="mdl-textfield__input" th:field="*{groupp}" placeholder="group" />
                  </div>
                    <div class="mdl-card__supporting-text">
                        <input type="text" class="mdl-textfield__input" th:field="*{description}" placeholder="description"/>
                    </div>
                  <div class="mdl-card__supporting-text">
                    <h4>Upload photo:</h4>
                    <input type="file" name="file" />
                  </div>

                  <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                    <button type="submit" class="mdl-button  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--cyan-500 mdl-color-text--white">Add</button>
                    <button type="button" class="mdl-button close ">Close</button>
                  </div>
                </form>
              </div>
            </dialog>
            <script>
              var dialog = document.querySelector('dialog');
              var showModalButton = document.querySelector('.show-modal');
              if (! dialog.showModal) {
                dialogPolyfill.registerDialog(dialog);
              }
              showModalButton.addEventListener('click', function() {
                dialog.showModal();
              });
              dialog.querySelector('.close').addEventListener('click', function() {
                dialog.close();
              });
            </script>
          </nav>
                 <button class="android-more-button mdl-button mdl-js-button mdl-button--icon mdl-js-ripple-effect" id="more-button">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="more-button">
            <li class="mdl-menu__item">5.0 Lollipop</li>
            <li class="mdl-menu__item">4.4 KitKat</li>
            <li disabled class="mdl-menu__item">4.3 Jelly Bean</li>
            <li class="mdl-menu__item">Android History</li>
          </ul>
        </div>
      </div>

      <div class="android-drawer mdl-layout__drawer demo-page--shadow">
        <span class="mdl-layout-title">
          Groups
        </span>
        <nav class="mdl-navigation" th:each ="group : ${groups}">
            <a  class="mdl-navigation__link" th:href="@{'/search/byGroup/' + ${group.name}}" th:utext="${group.name}" id="tttkt"></a>

          </nav>
        </nav>
      </div>

      <div class="android-content mdl-layout__content mdl-color-text--teal-500">
          <div class="mdl-grid demo-content">

              <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
                  <div th:if="${message}">
                      <h2 th:text="${message}"/>
                  </div>
                  <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                      <thead>

                      <tr>
                          <th class="mdl-data-table__cell--non-numeric">Photo</th>
                          <th class="mdl-data-table__cell--non-numeric">Code</th>
                          <th class="mdl-data-table__cell--non-numeric">Name</th>
                          <th class="mdl-data-table__cell--non-numeric">Group</th>
                          <th class="mdl-data-table__cell--non-numeric">Description</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each ="item : ${items}">

                          <td><img th:src="@{'http://regi-storage.herokuapp.com/files/' + ${item.passToPhoto}}" width="200" height="200"/> </td>
                          <td class="mdl-data-table__cell--non-numeric " th:utext="${item.code}">...</td>
                          <td class="mdl-data-table__cell--non-numeric">
                              <a th:href="@{'/search/byId/' + ${item.id}}" th:utext="${item.name} " id="tt"></a>
                          </td>
                          <td class="mdl-data-table__cell--non-numeric" th:utext="${item.groupp}">...</td>
                          <td class="mdl-data-table__cell--non-numeric mdlce" th:utext="${item.description}">...</td>

                      </tr>
                      </tbody>
                  </table>
              </div>
              <div class="mdl-layout-spacer"></div>
              <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing mdl-color--amber-200">
                  <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
                      <div class="mdl-dialog__content mdl-color-text--blue-800 mdl-color--indigo-50" >

                          <form autocomplete="off" enctype="multipart/form-data" action="#" th:action="@{/save}"
                                th:object="${item}" method="post" class="form-horizontal"
                                role="form">
                              <div class="mdl-card__supporting-text">
                                  <input type="text" class="mdl-textfield__input" th:field="*{code}" placeholder="code" />
                              </div>
                              <div class="mdl-card__supporting-text">
                                  <input type="text" class="mdl-textfield__input" th:field="*{name}" placeholder="name" />
                              </div>
                              <div class="mdl-card__supporting-text">
                                  <input type="text" class="mdl-textfield__input" th:field="*{groupp}" placeholder="group" />
                              </div>
                              <div class="mdl-card__supporting-text">
                                  <input type="text" class="mdl-textfield__input" th:field="*{description}" placeholder="description"/>
                              </div>
                              <div class="mdl-card__supporting-text">
                                  <h4>Upload photo:</h4>
                                  <input type="file" name="file" />
                              </div>

                              <div class="mdl-dialog__actions mdl-dialog__actions--full-width">
                                  <button type="submit" class="mdl-button  mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--indigo-A100 mdl-color-text--white">Add</button>
                              </div>
                          </form>
                      </div>

                  </div>
                  <div class="mdl-layout-spacer"></div>
              </div>
          </div>


      </div>
    </div>

  </body>
</html>
